$color-white: #FFF;
$color-gray: #4e4e4e;
$color-red: #CC0000;
$color-blue: #3B4CCA;
$color-yellow: #FFDE00;

$color-type-poison: #761491;
$color-type-grass: #016330;
$color-type-bug: #5cbd8b;
$color-type-water: #3b81b3;
$color-type-fire: #ae4816;
$color-type-normal: #eec4a2;
$color-type-flying: #bbbbbb;
$color-type-electric: #edd519;
$color-type-ground: #5e4230;
$color-type-fighting: #ff8437;
$color-type-physic: #a201c6;
$color-type-ghost: #827b84;
$color-type-rock: #2d2927;
$color-type-ice: #88dfff;
$color-type-dragon: #fff2ec;

$breakpoint-sm: 48em;
$breakpoint-md: 64em;
$breakpoint-lg: 80em;
$breakpoint-xl: 90em;

$size-0: 0rem;
$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-4: 0.25rem;
$size-6: 0.375rem;
$size-8: 0.5rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-30: 1.875rem;
$size-40: 2.5rem;
$size-50: 3.125rem;
$size-60: 3.75rem;
$size-70: 4.375rem;
$size-80: 5rem;
$size-90: 5.625rem;
$size-100: 6.25rem;
$size-120: 7.5rem;
$size-140: 8.75rem;
$size-160: 10rem;
$size-180: 11.25rem;
$size-200: 12.5rem;
$size-230: 14.375rem;
$size-250: 15.625rem;
$size-300: 18.75rem;
$size-320: 20rem;
$size-350: 21.875rem;
$size-400: 25rem;
$size-450: 28.125rem;
$size-500: 31.25rem;
$size-550: 34.375rem;
$size-600: 37.5rem;
$size-700: 43.75rem;
$size-800: 50rem;
$size-900: 56.25rem;
$size-1000: 62.5rem;